// CSS custom properties for dark/light themes.
// Each property contains 2 values: first is for light theme, second is for dark theme.
// These values used as arbitary in Tailwind utility classes.
$theme-properties: (
	// Text
	--link-color: #1B4BE1 #85b3ee,
	--text-color: rgba(0, 0, 0, 0.88) #a2adc0,
	--text-muted-color: rgba(0, 0, 0, 0.65) #697995,
	--headings-color: #000000 #e3eeef,
	// Scrollbar
	--scrollbar-bg: #dedede #2e394a,
	--scrollbar-hover-bg: #c6c6c6 lighten(#2e394a, 5%),
	// Typography
	--pre-bg: #FCFCFF #273140
);

// Activate dark/light themes
@include theme-switch($theme-properties);
