<div class="relative z-[2] text-md font-medium dark:bg-dark-100 border-b xl:mb-10">
	<nav class="hide-scrollbar mx-auto flex h-12 w-full items-center overflow-x-auto whitespace-nowrap nrm:max-w-container">
		{{ range .Site.Menus.platform }}
			<a href="{{ .URL }}" class="group px-4 py-2 inline-flex items-center text-black hover:text-theme-red [&.active]:text-text-theme-red [&.active]:border-4">
				{{ .Name }}
			</a>
		{{ end }}
		<button
			type="button"
			class="search-toggle group -mr-2 ml-auto hidden h-11 w-11 place-content-center place-items-center rounded text-muted hover:bg-light-300 hover:text-body nrm:hidden dark:hover:bg-dark-200 lg:grid"
		>
			<svg class="h-3.5 w-3.5">
				<use xlink:href="/img/svg-sprite.svg#search"></use>
			</svg>

			<i
				class="search-shortcut mt-1 rounded-sm border border-light-500 p-0.5 text-[0.6rem] not-italic leading-none group-hover:bg-light-100 dark:border-dark-400 dark:group-hover:bg-dark-200"
			></i>

			<span class="sr-only">Search</span>
		</button>
	</nav>
</div>
