<script>
	var isDmActive = JSON.parse(localStorage.getItem("dark-mode")) || false;
	let isRmActive = JSON.parse(localStorage.getItem("read-mode")) || false;

	document.documentElement.classList.toggle("read-mode", isRmActive);
	document.documentElement.classList.toggle("dark", isDmActive);
</script>

{{ $script := resources.Get "/dist/app.js" }}

{{ if .Site.IsServer }}
	{{ $script := $script | fingerprint }}
	<script src="{{ $script.Permalink }}"></script>
{{ else }}
	{{ $script := $script | minify | fingerprint }}
	<script data-rel-url="{{ .Permalink }}"></script>
	<script src="{{ $script.Permalink }}"></script>
{{ end }}

{{- $searchConfigFile := printf "search/%s.config.json" .Language.Lang -}}
{{- $searchConfig := resources.Get "search/config.json" | resources.ExecuteAsTemplate
	$searchConfigFile . | resources.Minify
-}}
{{- $searchConfig.Publish -}}
