{{ $linkItem := "relative font-heading text-xs tracking-widest py-7 rm:py-2 font-medium uppercase rounded flex cursor-pointer items-start gap-1 text-heading transition-opacity rm:px-3" }}
{{ $linkItemAlt := printf "%s %s" $linkItem "group rm:hover:bg-light-100 rm:dark:hover:bg-dark-200" }}
{{ $link := "block rounded px-3 py-2 text-body hover:bg-light-100 dark:hover:bg-dark-200 rm:text-sm" }}
{{ $linkFeature := "block rounded px-3 py-2 hover:bg-light-100 dark:hover:bg-dark-200 rm:py-1.5 hover:text-body" }}
{{ $dropdownMenu := "nav-dropdown nrm:max-h-[calc(100vh_-_7rem)] grid-cols-4 gap-5 pointer-events-none left-0 top-full z-10 mb-5 w-full bg-white group-hover:pointer-events-auto group-hover:opacity-100 nrm:grid nrm:absolute nrm:opacity-0 dark:bg-dark-100" }}
{{ $linkDescription := "mt-1 block leading-relaxed text-muted rm:hidden" }}
{{ $linkTitle := "block nrm:font-medium rm:text-body" }}

{{/* Caret and down arrow indicators for nav dropdowns */}}
{{ define "nav-item-helpers" }}
	<i
		class="w-2 absolute inset-x-0 bottom-0 mx-auto inline-block size-0 border-x-[4px] border-b-[3px] border-x-transparent border-b-white opacity-0 group-hover:opacity-100 rm:hidden dark:border-b-dark-100"
	></i>
	<svg class="w-3 mt-0.5 rm:hidden" viewBox="0 0 16 16" fill="none">
		<path d="M13 6L8 11L3 6H13Z" fill="currentColor"/>
	</svg>
{{ end }}

{{/* Product feature title */}}
{{ define "feature-title" }}
	<div class="mx-3 my-2 border-b border-light-200 pb-3 font-bold leading-none text-black rm:mt-5 nrm:text-lg dark:border-dark-200 dark:text-heading">
		{{ . }}
	</div>
{{ end }}

{{/* Animated line on nav-link hover */}}
{{ define "line" }}
	<i class="absolute inset-x-0 -bottom-2 h-1 bg-black opacity-0 transition-all duration-300 group-hover:-bottom-1 group-hover:opacity-100 group-[&.active]:opacity-100 group-[&.active]:bottom-0 rm:hidden"></i>
{{ end }}

<header class="header relative z-10 flex-shrink-0 text-md" id="header">
	<div class="mx-auto w-full px-5 nrm:max-w-container">
		<div class="flex relative items-center min-h-[4.2rem]">
			<svg class="flex-shrink-0 text-theme-red dark:text-heading" width="100" height="15">
				<use xlink:href="/img/svg-sprite.svg#minio-logo"></use>
			</svg>

			<div class="bottom-10 right-7 flex nrm:absolute">
				{{/*  <button
					type="button"
					class="ml-2 grid h-8 w-8 place-content-center rounded border bg-white pt-px text-body hover:opacity-90 dark:border-slate-500 dark:bg-dark-0"
					id="toggle-dark-mode"
				></button>
				<button
					type="button"
					class="ml-2 hidden h-8 w-8 place-content-center rounded border bg-white pt-px text-body hover:opacity-90 dark:border-slate-500 dark:bg-dark-0 xl:grid"
					id="toggle-read-mode"
				></button>  */}}
			</div>
		</div>
		<h2 class="mb-2 font-heading font-bold text-black text-hero text-center max-lg:hidden py-8">Documentation</h2>

		{{ partial "docs-menu" . }}

		{{ partial "platform-menu" . }}

		{{ partial "search" . }}
	</div>
</header>
