{{ $linkItem := "relative font-heading text-xs tracking-widest py-7 rm:py-2 font-medium uppercase rounded flex cursor-pointer items-start gap-1 text-heading transition-opacity rm:px-3" }}
{{ $linkItemAlt := printf "%s %s" $linkItem "group rm:hover:bg-light-100 rm:dark:hover:bg-dark-200" }}
{{ $link := "block rounded px-3 py-2 text-body hover:bg-light-100 dark:hover:bg-dark-200 rm:text-sm" }}
{{ $linkFeature := "block rounded px-3 py-2 hover:bg-light-100 dark:hover:bg-dark-200 rm:py-1.5 hover:text-body" }}
{{ $dropdownMenu := "nav-dropdown nrm:max-h-[calc(100vh_-_7rem)] grid-cols-4 gap-5 pointer-events-none left-0 top-full z-10 mb-5 w-full bg-white group-hover:pointer-events-auto group-hover:opacity-100 nrm:grid nrm:absolute nrm:opacity-0 dark:bg-dark-100" }}
{{ $linkDescription := "mt-1 block leading-relaxed text-muted rm:hidden" }}
{{ $linkTitle := "block nrm:font-medium rm:text-body" }}

{{/* Caret and down arrow indicators for nav dropdowns */}}
{{ define "nav-item-helpers" }}
	<i
		class="w-2 absolute inset-x-0 bottom-0 mx-auto inline-block size-0 border-x-[4px] border-b-[3px] border-x-transparent border-b-white opacity-0 group-hover:opacity-100 rm:hidden dark:border-b-dark-100"
	></i>
	<svg class="w-3 mt-0.5 rm:hidden" viewBox="0 0 16 16" fill="none">
		<path d="M13 6L8 11L3 6H13Z" fill="currentColor"/>
	</svg>
{{ end }}

{{/* Product feature title */}}
{{ define "feature-title" }}
	<div class="mx-3 my-2 border-b border-light-200 pb-3 font-bold leading-none text-black rm:mt-5 nrm:text-lg dark:border-dark-200 dark:text-heading">
		{{ . }}
	</div>
{{ end }}

{{/* Animated line on nav-link hover */}}
{{ define "line" }}
	<i class="absolute inset-x-0 -bottom-2 h-1 bg-black opacity-0 transition-all duration-300 group-hover:-bottom-1 group-hover:opacity-100 group-[&.active]:opacity-100 group-[&.active]:bottom-0 rm:hidden"></i>
{{ end }}

<header class="header relative z-10 flex-shrink-0 text-md" id="header">
	<div class="mx-auto w-full px-5 nrm:max-w-container">
		<div class="flex relative items-center min-h-[4.2rem]">
			<svg class="flex-shrink-0 text-theme-red dark:text-heading" width="100" height="15">
				<use xlink:href="/img/svg-sprite.svg#minio-logo"></use>
			</svg>

			<nav
				class="ml-auto items-center rm:z-[12] gap-9 rm:fixed rm:right-0 rm:top-0 rm:hidden rm:h-full rm:w-80 rm:overflow-auto rm:bg-white rm:p-3 nrm:flex drm:bg-dark-100"
				id="top-navigation"
			>
				<div class="flex justify-end nrm:hidden">
					<button id="nav-close" class="grid h-6 w-6 place-content-center rounded text-muted hover:bg-light-300 dark:hover:bg-dark-200">
						<svg class="h-2 w-2">
							<use xlink:href="/img/svg-sprite.svg#close"></use>
						</svg>
					</button>
				</div>

				{{/* Product */}}
				<div class="group">
					<span class="{{ $linkItem }}">
						Product
						{{ template "nav-item-helpers" . }}
					</span>

					<div class="{{ $dropdownMenu }}">
						<div class="col-span-3 xl:py-8 rm:pl-5">
							<div class="mb-5">
								<img class="h-4 mb-6 mt-2" src="/img/aistor-logo-dark.svg" alt="AIStor Logo">
					
								<div class="mb-2 text-xs font-medium font-heading uppercase tracking-widest text-black border-b pb-2">Overview</div>
								
								<a href="https://min.io/product/aistor-overview" class="text-sm py-2 px-3 rounded font-medium flex items-center gap-3 hover:bg-gray-100">
									What is AIStor?
						
									<svg width="16" height="17" viewBox="0 0 16 17" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M7.50505 3.02998C7.77842 2.75661 8.22164 2.75661 8.495 3.02998L13.1617 7.69664C13.435 7.97001 13.435 8.41323 13.1617 8.68659L8.495 13.3533C8.22164 13.6266 7.77842 13.6266 7.50505 13.3533C7.23169 13.0799 7.23169 12.6367 7.50505 12.3633L10.9767 8.89162H3.33336C2.94676 8.89162 2.63336 8.57822 2.63336 8.19162C2.63336 7.80502 2.94676 7.49162 3.33336 7.49162H10.9767L7.50505 4.01993C7.23169 3.74656 7.23169 3.30334 7.50505 3.02998Z" fill="#CF163E"/>
									</svg>
								</a>
							</div>

							<div class="mb-2 text-xs font-medium font-heading uppercase tracking-widest text-black border-b pb-2">Features</div>

							<div class="text-sm xl:grid grid-cols-3 gap-2 *:py-2 *:px-3 *:rounded *:font-medium *:flex *:items-center *:gap-3">
								<a href="https://min.io/product/active-data-replication-for-object-storage" class="hover:bg-gray-100">
									<img src="/img/nav/replication.svg" alt="Replication">
									Replication
								</a>
								<a href="https://min.io/product/aistor/object-storage-global-console" class="hover:bg-gray-100">
									<img src="/img/nav/console.svg" alt="Console">
									Console
								</a>
								<a href="https://min.io/product/aistor/object-store-cache" class="hover:bg-gray-100">
									<img src="/img/nav/cache.svg" alt="Cache">
									Cache
								</a>
								<a href="https://min.io/product/enterprise-object-storage-encryption" class="hover:bg-gray-100">
									<img src="/img/nav/encryption.svg" alt="Encryption">
									Encryption
								</a>
								<a href="https://min.io/product/object-versioning-bucket-versioning" class="hover:bg-gray-100">
									<img src="/img/nav/versioning.svg" alt="Versioning">
									Versioning
								</a>
								<a href="https://min.io/product/aistor/object-storage-observability" class="hover:bg-gray-100">
									<img src="/img/nav/observability.svg" alt="Observability">
									Observability
								</a>
								<a href="https://min.io/product/data-immutability-for-object-storage" class="hover:bg-gray-100">
									<img src="/img/nav/immutability.svg" alt="Object Immutability">
									Object Immutability
								</a>
								<a href="https://min.io/product/aistor/key-management-server" class="hover:bg-gray-100">
									<img src="/img/nav/kms.svg" alt="Key Management Server">
									Key Management Server
								</a>
								<a href="https://min.io/product/s3-compatibility" class="hover:bg-gray-100">
									<img src="/img/nav/kms.svg" alt="Key Management Server">
									S3 Compatibility
								</a>
								<a href="https://min.io/product/identity-and-access-management" class="hover:bg-gray-100">
									<img src="/img/nav/identity.svg" alt="xxx">
									Identity + Access Mgt
								</a>
								<a href="https://min.io/product/aistor/object-store-catalog" class="hover:bg-gray-100">
									<img src="/img/nav/catalog.svg" alt="Catalog">
									Catalog
								</a>
								<a href="https://min.io/product/aistor/prompt-ai" class="hover:bg-gray-100">
									<img src="/img/nav/object-prompt.svg" alt="Object Prompt">
									Object Prompt
								</a>
								<a href="https://min.io/product/automated-data-tiering-lifecycle-management" class="hover:bg-gray-100">
									<img src="/img/nav/lifecycle.svg" alt="Lifecycle">
									Lifecycle
								</a>
								<a href="https://min.io/product/aistor/object-storage-data-firewall" class="hover:bg-gray-100">
									<img src="/img/nav/firewall.svg" alt="Firewall">
									Firewall
								</a>
								<a href="https://min.io/product/aistor/ai-hub" class="hover:bg-gray-100">
									<img src="/img/nav/aihub.svg" alt="AIHub">
									AIHub
								</a>
							</div>
						</div>
					
						<div class="text-sm xl:border-l xl:px-6 xl:py-7 rm:pl-5">
							<div class="mb-2 mt-5 text-xs font-medium font-heading uppercase tracking-widest text-black border-b pb-2 xl:hidden">Tools</div>
							<a href="https://min.io/product/erasure-code-calculator" class="py-2 px-3 rounded block hover:bg-gray-100 xl:mb-5">
								<span class="flex items-center gap-3 font-medium font-heading xl:text-md">
									<img class="max-xl:w-4" src="/img/nav/erasure-code-calculator.svg" alt="Erasure Code Calculator">
									Erasure Code Calculator
								</span>
					
								<span class="text-muted block mt-4 px-1 max-xl:hidden">Determine your raw and usable capacity across a range of erasure coding settings.</span>
							</a>
							<a href="https://min.io/product/reference-hardware" class="py-2 px-3 rounded block hover:bg-gray-100">
								<span class="flex items-center gap-3 font-medium font-heading xl:text-md">
									<img class="max-xl:w-4" src="/img/nav/ref-hardware.svg" alt="Reference Hardware">
									Reference Hardware
								</span>
					
								<span class="text-muted block mt-4 px-1 max-xl:hidden">MinIO’s recommended Configuration and reference hardware for building large scale data infrastructure.</span>
							</a>
						</div>
					</div>
				</div>

				{{/* Solutions */}}
				<div class="group">
					<span class="{{ $linkItem }}">
						Solutions
						{{ template "nav-item-helpers" . }}
					</span>

					<div class="{{ $dropdownMenu }} nrm:py-8 text-sm">
						<a href="https://min.io/solutions/object-storage-for-ai" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="ai-ml">
							<span class="text-black font-medium">
							AI Storage
							</span>
							<span class="text-muted block mt-2 max-xl:hidden">Learn how MinIO is leading the AI 
							storage market from its exclusive features to performance at scale.</span>
						</a>
						<a href="https://min.io/solutions/hdfs-migration" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="hdfs-migration">
							<span class="text-black block font-medium">HDFS Migration</span>
							<span class="text-muted block mt-2 max-xl:hidden">Modernize and simplify your big data
							storage infrastructure with cloud native storage with AIStor.</span>
						</a>
						<a href="https://min.io/solutions/snowflake" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="snowflake">
							<span class="text-black block font-medium">Snowflake</span>
							<span class="text-muted block mt-2 max-xl:hidden">Learn how to leverage Snowflake 
							external tables to query data without having to move it.</span>
						</a>
						<div class="xl:row-span-4 xl:border-l xl:-my-8 xl:py-8 xl:pl-4 max-xl:order-1">
							<a href="https://min.io/product/integrations" class="block rounded px-3 py-2 hover:bg-gray-100 block" data-nav="integrations">
							<span class="text-black font-medium flex items-center gap-3">
								<img class="max-xl:hidden" src="/img/nav/integrations.svg" alt="Integrations">
								Integrations with MinIO
							</span>
							<span class="text-muted block mt-2 max-xl:hidden px-1">Browse our expansive list of <br class="max-xl:hidden" />
								integrations with links to the relevant <br class="max-xl:hidden" />documentation.</span>
							</a>
						</div>
						<a href="https://min.io/solutions/veeam" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="veeam">
							<span class="text-black block font-medium">Veeam</span>
							<span class="text-muted block mt-2 max-xl:hidden">Learn how MinIO and Veeam have partnered deliver superior RTO and RPO.</span>
						</a>
						<a href="https://min.io/solutions/modern-data-lakes-lakehouses" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="datalakes">
							<span class="text-black block font-medium">Modern Datalakes</span>
							<span class="text-muted block mt-2 max-xl:hidden">Learn how modern, multi-engine data lakeshouses depend on MinIO's AIStor.</span>
						</a>
						<a href="https://min.io/solutions/equinix" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="equinix">
							<span class="text-black block font-medium">Equinix</span>
							<span class="text-muted block mt-2 max-xl:hidden">Repatriate your data onto the cloud you control with MinIO and Equinix.</span>
						</a>
						<a href="https://min.io/solutions/sqlserver" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="sql-server">
							<span class="text-black block font-medium">SQL Server</span>
							<span class="text-muted block mt-2 max-xl:hidden">Learn how to leverage SQL Server 2022 
							with MinIO to run queries on your data without having to move it.</span>
						</a>
						<a href="https://min.io/solutions/commvault" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="commvault">
							<span class="text-black block font-medium">Commvault</span>
							<span class="text-muted block mt-2 max-xl:hidden">Learn how Commvault and MinIO are partnered to deliver performance at scale for mission critical backup and restore workloads.</span>
						</a>
						<a href="https://min.io/hybrid-multi-cloud-storage" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="hybrid-cloud-storage">
							<span class="text-black block font-medium">Hybrid Cloud</span>
							<span class="text-muted block mt-2 max-xl:hidden">Learn how enterprises use MinIO to build AI data infrastructure that runs on any cloud - public, private or colo.</span>
						</a>
						<a href="https://min.io/solutions/optimize-splunk-smartstore-performance" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="splunk">
							<span class="text-black block font-medium">Splunk</span>
							<span class="text-muted block mt-2 max-xl:hidden">Find out how MinIO is delivering performance at scale for Splunk SmartStores.</span>
						</a>
						<a href="https://min.io/solutions/vmware" class="rounded px-3 py-2 hover:bg-gray-100 block" data-nav="vmware">
							<span class="text-black block font-medium">VMware</span>
							<span class="text-muted block mt-2 max-xl:hidden">Discover how MinIO integrates with VMware across the portfolio
							from the Persistent Data platform to TKG and how we support
							their Kubernetes ambitions.</span>
						</a>
					</div>
				</div>

				{{/* Open Source */}}
				<div class="group active">
					<span class="{{ $linkItem }}">
						Open Source
						{{ template "nav-item-helpers" . }}
						{{ template "line" . }}
					</span>

					<div class="{{ $dropdownMenu }} nrm:py-8 text-sm">
						<a target="_blank" rel="noreferrer noopener" href="https://github.com/minio/" class="rounded px-3 py-2 hover:bg-gray-100 block">
							<span class="text-black block font-medium">Github Community</span>
							<span class="text-muted block mt-2 max-xl:hidden">Explore, experiment, ask questions and contribute.</span>
						</a>
						<a rel="noreferrer noopener" href="https://min.io/docs" class="rounded px-3 py-2 hover:bg-gray-100 block">
							<span class="text-black block font-medium">Docs</span>
							<span class="text-muted block mt-2 max-xl:hidden">Development guides.</span>
						</a>
						<a target="_blank" rel="noreferrer noopener" href="https://slack.min.io" class="rounded px-3 py-2 hover:bg-gray-100 block">
							<span class="text-black block font-medium">Slack Channel</span>
							<span class="text-muted block mt-2 max-xl:hidden">Open Forum for discussing topics related to MinIO.</span>
						</a>
						
						<div class="xl:border-l xl:-my-8 xl:py-8 xl:pl-6 max-xl:order-1">
							<a href="https://min.io/open-source/download?platform=kubernetes" class="block rounded px-3 py-2 hover:bg-gray-100 block" data-nav="download-agpl">
							<span class="text-black font-medium flex items-center gap-3">
								<img class="max-xl:hidden" src="/img/nav/download.svg" alt="Download MinIO Object Store">
								Download MinIO Object Store
							</span>
							<span class="text-muted block mt-2 max-xl:hidden">Get MinIO's open source server, client, and SDK.</span>
							</a>
						</div>
					</div>
				</div>

				{{/* Resources */}}
				<div class="group">
					<span class="{{ $linkItem }}">
						Resources
						{{ template "nav-item-helpers" . }}
					</span>

					<div class="{{ $dropdownMenu }} nrm:py-8 text-sm">
						<a rel="noreferrer noopener" href="https://resources.min.io/l/library" class="rounded px-3 py-2 hover:bg-gray-100 block">
							<span class="text-black block font-medium">Resources Home</span>
							<span class="text-muted block mt-2 max-xl:hidden">Browse our library of white papers, 
							solution briefs, benchmarks and videos.</span>
						</a>
						<a rel="noreferrer noopener" href="https://blog.min.io/" class="rounded px-3 py-2 hover:bg-gray-100 block">
							<span class="text-black block font-medium">Blog</span>
							<span class="text-muted block mt-2 max-xl:hidden">Product updates, company news, and educational content.</span>
						</a>
						<a rel="noreferrer noopener" href="https://min.io/training" class="rounded px-3 py-2 hover:bg-gray-100 block">
							<span class="text-black block font-medium">Training </span>
							<span class="text-muted block mt-2 max-xl:hidden">Learn the MinIO Way and Become a
							Data Infrastructure Expert.</span>
						</a>
						
						<div class="xl:border-l xl:-my-8 xl:py-8 xl:pl-6 max-xl:order-1">
							<a href="https://min.io/events" class="block rounded px-3 py-2 hover:bg-gray-100 block">
							<span class="text-black font-medium flex items-center gap-3">
								<img class="max-xl:hidden" src="/img/nav/events.svg" alt="Events">
								Events
							</span>
							<span class="text-muted block mt-2 max-xl:hidden">Join us to take advantage to meet with MinIO partners, employees, and subject-matter experts.</span>
							</a>
						</div>
					</div>
				</div>

				<a href="https://min.io/partner" class="{{ $linkItemAlt }}">
					<span>Partner</span>
					{{ template "line" . }}
				</a>

				<a href="https://min.io/pricing" class="{{ $linkItemAlt }}">
					<span>Pricing</span>
					{{ template "line" . }}
				</a>

				<a
					target="_blank"
					rel="noreferrer noopener"
					class="{{ $linkItemAlt }} text-theme-red"
					href="https://subnet.min.io/"
				>
					Login
					{{ template "line" . }}
				</a>

				<a
					class="block rounded-lg px-4 py-2 text-center font-medium text-white font-heading text-xs uppercase tracking-widest bg-theme-red hover:bg-theme-red-hover transition-colors duration-300 hover:text-white rm:mx-3 rm:my-4 rm:hover:text-white dark:border-slate-500 dark:text-body dark:hover:bg-dark-200"
					href="https://min.io/download"
				>
					<span class="rm:font-medium">Download</span>
				</a>
			</nav>

			<button
				id="nav-toggle"
				type="button"
				class="grid ml-auto h-8 w-8 place-content-center rounded text-black hover:bg-gray-100 nrm:hidden dark:text-body dark:hover:bg-dark-100"
			>
				<svg class="pointer-events-none" width="17" height="13">
					<use xlink:href="/img/svg-sprite.svg#menu"></use>
				</svg>
			</button>

			<div class="bottom-10 right-7 flex nrm:absolute">
				{{/*  <button
					type="button"
					class="ml-2 grid h-8 w-8 place-content-center rounded border bg-white pt-px text-body hover:opacity-90 dark:border-slate-500 dark:bg-dark-0"
					id="toggle-dark-mode"
				></button>
				<button
					type="button"
					class="ml-2 hidden h-8 w-8 place-content-center rounded border bg-white pt-px text-body hover:opacity-90 dark:border-slate-500 dark:bg-dark-0 xl:grid"
					id="toggle-read-mode"
				></button>  */}}
			</div>
		</div>
		<h2 class="mb-3 font-heading font-bold text-black text-hero text-center rm:hidden py-20">Documentation</h2>

		{{ partial "docs-menu" . }}

		{{ partial "platform-menu" . }}

		{{ partial "search" . }}
	</div>
</header>
